* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

main {
  scroll-snap-type: y proximity;
  overflow: auto;
  height: 100vh;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  scroll-snap-align: start;
}

/********** TOP SECTION **********/

#main__title {
  margin: 2vmin;
  text-align: center;
  font-size: 6vmin;
}

#minted-color {
  margin: 2vmin auto;
}

.minted-color__tile {
  width: 50vmin;
  height: 50vmin;
  background: rgb(155,6,255);
  background: linear-gradient(90deg,
                            rgba(155,6,255,1) 0%,
                            rgba(255,250,0,1) 25%,
                            rgba(29,242,253,1) 50%,
                            rgba(239,30,255,1) 75%,
                            rgba(253,91,46,1) 100%); 
}

.minted-color__hex {
  font-size: 4vmin;
  margin: 2.5vmin auto;
}

#generate-color {
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vmin;
  font-weight: 500;
  color: white;
  background: black;
  margin: 2vmin auto;
  display: block;
  border-left: 2vmin solid rgb(180, 255, 255);
  border-top: 2vmin solid rgb(180, 255, 255);
  border-right: 2vmin solid rgb(120, 195, 205);
  border-bottom: 2vmin solid rgb(120, 195, 205);
}

#generate-color:active {
  border-right: 2vmin solid rgb(180, 255, 255);
  border-bottom: 2vmin solid rgb(180, 255, 255);
  border-left: 2vmin solid rgb(120, 195, 205);
  border-top: 2vmin solid rgb(120, 195, 205);
  background: rgb(155,6,255);
  background: linear-gradient(90deg,
                            rgba(155,6,255,1) 0%,
                            rgba(255,250,0,1) 25%,
                            rgba(29,242,253,1) 50%,
                            rgba(239,30,255,1) 75%,
                            rgba(253,91,46,1) 100%); 
}

#loading {
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vmin;
  width: 2vmin;
  height: 2vmin;
  font-weight: 500;
  margin: 2vmin auto;
  border: 3.9vmin solid rgba(255, 0, 255, 1);
  border-bottom-color: rgba(0, 255, 255, 1);
  border-radius: 50%;

  display: none;
  animation: loading 10s infinite ease;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    transform: rotateZ(4320deg);
    filter: hue-rotate(360deg);
  }
}

/********** LOWER SECTION **********/

#section__owned {
  justify-content: flex-start;
}

#owned__top-bar {
  padding: 1vmin clamp(.75em, 2vmin, 3em);
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

#owned__title {
  font-weight: 400;
  font-size: clamp(16px, 3vmin, 24px);
}

#address {
  font-size: .65em;
}

#owned__send {
  font-family: 'Quicksand', sans-serif;
  font-size: clamp(12px, 1.25vmin, 20px);
  font-weight: 400;
}

.color-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color-token {
  margin: clamp(.75em, 2vmin, 3em);
  box-shadow: 1px 1px 3px darkgray;
  flex: 0.5 1 250px;
  max-width: 250px;
  transition: box-shadow .15s, transform .15s;
}

.color-token:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 1px 6px 8px -3px darkgray;
}

.color-token__tile {
  padding-top: 90%;
  margin: clamp(.75em, 1.5vmin, 3em);
}

.color-token__text {
  margin: clamp(.75em, 1.5vmin, 3em);
  display: flex;
  justify-content: space-between;
  font-size: clamp(12px, 2vmin, 20px);
}

/********** SEND POPOUT WINDOW **********/

.send-modal {
  font-size: 2vmin;
  display: none;
}

.send-modal__bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .25);
}

.send-modal__content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2vmin;
  width: clamp(50px, 98vw, 500px);
  background: white;
  border-radius: 2vmin;
  box-shadow: 2px 2px 10px -4px #000a;
  display: flex;
  flex-direction: column;
}

.send-modal__close {
  align-self: flex-end;
  width: max-content;
  font-size: clamp(14px, .75em, 20px);
}

.send-modal__close:hover {
  cursor: pointer;
}

label {
  font-size: clamp(14px, 2vmin, 24px);
}

input {
  width: 99%;
  border: none;
  border-bottom: 1px solid darkgray;
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin: 1vmin 0 3vmin 0;
  padding: .5vmin;
}

.send-modal__btn {
  font-family: 'Quicksand', sans-serif;
  background: none;
  border-radius: 2vmin;
  padding: .5vmin;
  border: 1px solid darkgray;
  font-size: clamp(14px, 1.5vmin, 18px);
}

.send-modal__btn:active {
  color: white;
  background: darkgray;
}

#invalid-address {
  color: #f55;
  position: absolute;
  right: 2.5vmin;
  display: none;
  font-size: .75em;
  margin-top: .75em;
}

#invalid-token {
  color: #f55;
  position: absolute;
  right: 2.5vmin;
  margin-top: .75em;
  display: none;
  font-size: .75em;
}